@using SseCaseStudy.Models
@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-md-4">
        @using (Html.BeginForm())
        {
            <h3>
                @Html.TextBox("SearchTerm")
                <input type="submit" value="Search" />
                @Html.DropDownList("SearchType", new List<SelectListItem> {
                    new SelectListItem {
                        Text = "Songs",
                        Value = "song"
                    },
                    new SelectListItem {
                        Text = "Music Videos",
                        Value = "musicVideo"
                    },
                    new SelectListItem {
                        Text = "Movies",
                        Value = "movie"
                    },
                    new SelectListItem {
                        Text = "TV Shows",
                        Value = "tvSeason"
                    },
                    new SelectListItem {
                        Text = "Software",
                        Value = "software"
                    }
                })
            </h3>

        }

        <ul>
            @foreach (SongSearchResult song in Model)
            {
                <li><a href="@song.TrackViewUrl">@song.TrackName by @song.ArtistName</a></li>
            }
        </ul>

    </div>
</div>
